/* Dashboard CSS */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap");

body {
  background: #f1f5f9;
}
.wrapper {
  overflow: auto;
  overflow-x: hidden;
}

select.form-control{
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  background: url(../assets/ic-carret-down.svg) no-repeat;
  background-position: calc(100% - 8px) center;
  background-size: 20px;
  padding-right: 24px;
}


.form-wrap.form-builder .frmb .prev-holder select.form-control,
.form-group select.form-control{
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  background: url(../assets/ic-carret-down.svg) no-repeat;
  background-position: calc(100% - 8px) center;
  background-size: 20px;
  padding-right: 12px;
}


.btn.btn-white{
  border-radius: 6px;
  border: 1px solid #D0D6DD;
  background: #FFF;
}

.back-editor.btn-link{
  color: #626B79;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  display: inline-block;
  margin-bottom: 24px;
}

.back-editor.btn-link:before{
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  background: url(../assets/ic-carret-left.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all .3s ease-in-out;
}
.back-editor.btn-link:hover{
  cursor: pointer;
}
.back-editor.btn-link:hover::before{
  transform: translateX(-8px);
}

.container {
  width: 100%;
  max-width: 1392px;
  padding: 0 40px;
  margin: 0 auto;
}

.login-page {
  width: 448px;
  padding: 8% 0 0;
  margin: auto;
}

.login-page h1 img {
  height: 48px;
}

.form .login-form,
.form .register-form {
  background: #fff;
  border: 1px solid #8b95a5;
  padding: 24px;
  border-radius: 6px;
}

.form .login-form .message,
.form .register-form .message{
  font-size: 14px;
  line-height: 160%;
}

.form .register-form .info{
  margin-top: 16px;
}

.form label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 4px;
  display: block;
}
.form input {
  font-family: "Inter", sans-serif;
  outline: 0;
  border: 1px solid #d0d6dd;
  background: #fff;
  width: 100%;
  margin: 0 0 15px;
  padding: 8px 12px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 6px;
}
.form button {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #f7601a;
  width: 100%;
  border: 0;
  padding: 8px 12px;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 6px;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #e33600;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4caf50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
/*
.login-page .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
body {
    background: #F1F5F9;
    background: #F1F5F9;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
}
*/
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
.header-logo img {
  height: 24px;
}

.header-user {
  position: relative;
}
.header-user > span:hover {
  cursor: pointer;
}
.header-user .dd {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 16px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 4px 0px rgba(0, 0, 0, 0.14);
  min-width: 150px;
  transition: all 0.3s ease-in-out;
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
  z-index: 5;
}
.header-user.dd-show .dd {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.header-user .dd a {
  color: #232933;
  display: block;
}
.header-user .dd a:hover {
  color: #f7601a;
}

.header-user .dd .dd-item:not(:last-child) {
  margin-bottom: 8px;
}

.box-wrap {
  border: 1px solid #d0d6dd;
  background: #f8f9fb;
  border-radius: 6px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.box-wrap .content{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-wrap .content.box-preview{
  background: #FFF;
}

.box-title {
  padding: 24px;
  background: #fff;
  border-radius: 6px 6px 0 0;
  position: relative;
}
.box-title h1 {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.48px;
  color: #232933;
  margin: 0;
  padding-right: 52px;
}

.box-title .btn {
  position: absolute;
  right: 24px;
  top: 24px;
}

.content {
  padding: 24px;
  background: #f8f9fb;
}

#fb-preview > form#preview,
#fb-editor .form-wrap.form-builder .stage-wrap {
  width: calc(74% - 29px);
}

#fb-editor .form-wrap .frmb {
  background-color: #f1f5f9;
  border-radius: 6px;
  border: 1px solid #cbd8e4;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-right: 24px;
  padding: 72px;
  min-height: calc(100vh - 280px) !important;
}
.form-wrap.form-builder ul.frmb > li.form-field {
  width: 100%;
  background-color: transparent; /*
	max-width: 488px;
	margin: 0 auto;*/
}

#fb-editor .form-wrap .frmb .form-field + .form-field{
  padding-top: 0;
}

#fb-editor .form-wrap .frmb .form-field.editing:hover .field-actions{
  display: none;
}

.form-wrap.form-builder ul.frmb > li.form-field .field-actions{
  /*  top: 8px;*/
  top: -20px;
  right: 32px;
  border-radius: 6px;
  border: 1px solid #D0D6DD;
  background: #FFF;
  overflow: hidden;
}

.form-wrap.form-builder ul.frmb > li.form-field .field-actions .btn{
  padding: 6px;
  border: 0;
}

.form-wrap.form-builder ul.frmb > li.form-field .field-actions .btn:first-child{
  border-radius: 6px 0 0 6px;
}

.form-wrap.form-builder ul.frmb > li.form-field .field-actions .btn:last-child{
  border-radius: 0 6px 6px 0;
}

.form-wrap.form-builder ul.frmb > li.form-field .field-actions .btn:hover{
  background-color: #f1f5f9;
}

.form-wrap.form-builder ul.frmb > li.form-field .field-actions .btn::before{
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-size: contain;
  background-position: center;
}

.form-wrap.form-builder ul.frmb > li.form-field .field-actions .btn.formbuilder-icon-cancel::before{
  background: url(../assets/ic-delete.svg);
}

.form-wrap.form-builder ul.frmb > li.form-field .field-actions .btn.formbuilder-icon-pencil::before{
  background: url(../assets/ic-edit.svg);
}

.form-wrap.form-builder ul.frmb > li.form-field .field-actions .btn.formbuilder-icon-copy::before{
  background: url(../assets/ic-copy.svg);
}

.form-wrap.form-builder ul.frmb > li.form-field .field-actions .btn.formbuilder-icon-sort-higher::before{
  background: url(../assets/ic-higher.svg);
}

.form-wrap.form-builder ul.frmb > li.form-field .field-actions .btn.formbuilder-icon-sort-lower::before{
  background: url(../assets/ic-lower.svg);
}


#fb-editor .form-wrap.form-builder .frmb-control {
  margin-bottom: 24px;
}

#fb-editor .form-wrap.form-builder .frmb-control li {
  border: 0;
  box-shadow: none;
  border-radius: 6px;
}
#fb-editor .form-wrap.form-builder .frmb-control li:not(:last-child) {
  margin-bottom: 8px;
}

#fb-editor .form-wrap.form-builder .frmb-control li:before{

}


#fb-editor .form-wrap.form-builder .frmb-control li.formbuilder-icon-header:before{
  content: "";
  background: url(../assets/ic-titleform.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

#fb-editor .form-wrap.form-builder .frmb-control li.formbuilder-icon-paragraph:before{
  content: "";
  background: url(../assets/ic-paragraphform.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

#fb-editor .form-wrap.form-builder .frmb-control li.formbuilder-icon-text:before{
  content: "";
  background: url(../assets/ic-textfield.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

#fb-editor .form-wrap.form-builder .frmb-control li.formbuilder-icon-textarea:before{
  content: "";
  background: url(../assets/ic-textarea.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

#fb-editor .form-wrap.form-builder .frmb-control li.formbuilder-icon-checkbox-group:before{
  content: "";
  background: url(../assets/ic-checkbox.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

#fb-editor .form-wrap.form-builder .frmb-control li.formbuilder-icon-radio-group:before{
  content: "";
  background: url(../assets/ic-radiofield.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
#fb-editor .form-wrap.form-builder .frmb-control li.formbuilder-icon-select:before{
  content: "";
  background: url(../assets/ic-selectfield.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

#fb-editor .form-wrap.form-builder .frmb-control li.formbuilder-icon-date:before{
  content: "";
  background: url(../assets/ic-calendarfield.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

#fb-editor .form-wrap.form-builder .frmb-control li.formbuilder-icon-hidden:before{
  content: "";
  background: url(../assets/ic-hiddenfield.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

#fb-editor .form-wrap .frmb .form-field{
  max-width: 424px;
  margin: 0 auto;
  margin-bottom: 0;
  background: #FFF;
  padding: 20px 32px;
  border: 1px solid #8B95A5;
  border-top: 0;
  border-bottom: 0;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.12), 0px 3px 4px 0px rgba(0, 0, 0, 0.14);
}
#fb-editor .form-wrap .frmb .form-field:first-child{
  border-top: 1px solid #8B95A5;
  padding-top: 24px;
/*  padding-bottom: 0;*/
}

#fb-editor .form-wrap .frmb .form-field:last-child{
  border-bottom: 1px solid #8B95A5;
/*  padding-top: 20px;*/
  padding-bottom: 24px;
}

#fb-editor .form-wrap .frmb .field-label,{
  color: #232933;
  /* Label/Semibold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

#fb-editor .form-wrap.form-builder .frmb .field-label{
  color: #232933;
  /* Label/Semibold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

#fb-editor .form-wrap.form-builder .frmb .form-elements{
  border: 0;
  padding: 16px;
  padding-bottom: 40px;
  position: relative;
  background: #F8F9FB;
}

#fb-editor .form-wrap.form-builder .frmb .option-actions{
  text-align: left;
}

#fb-editor .form-wrap.form-builder .frmb .option-actions .add{
  color: #4B61DD;
  font-weight: 600;
  padding: 8px 16px;
  display: inline-block;
}

#fb-editor .form-wrap.form-builder .frmb .option-actions .add:hover{
  cursor: pointer;
  text-decoration: none;
}

#fb-editor.form-wrap.form-builder .frmb .sortable-options>li .remove::before{
  content:"" ;
  width: 24px;
  height: 24px;
  background: url(../assets/ic-close.svg);
}

#fb-editor .form-wrap.form-builder .frmb li.form-field .close-field{
  bottom: auto;
  left: auto;
  top: -26px;
  right: 0px;
  font-size: 0;
  line-height: 0;
  width: 24px;
  height: 24px;
  background: url(../assets/ic-carret-left.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotate(90deg);
  border: 0;
}

#fb-editor .form-wrap.form-builder .frmb .form-elements .form-group{
  margin-bottom: 8px;
}

#fb-editor .form-wrap.form-builder .frmb .form-elements .form-group.required-wrap{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#fb-editor .form-wrap.form-builder .frmb .form-elements .form-group.required-wrap label{
  margin-bottom: 0;
  width: max-content;
  overflow: visible;
  order: 2;
  margin-left: 8px;
}
#fb-editor .form-wrap.form-builder .frmb .form-elements .form-group.required-wrap .input-wrap{
  order: 1;
  flex: 0 0 3%;
}

#fb-editor .form-wrap.form-builder .frmb .form-elements .form-group.required-wrap .input-wrap,
#fb-editor .form-wrap.form-builder .frmb .form-elements .form-group.other-wrap .input-wrap,
#fb-editor .form-wrap.form-builder .frmb .form-elements .form-group.other-wrap .multiple-wrap{
  display: flex;
  align-items: center;
  gap: 8px;
}

#fb-editor .form-wrap.form-builder .frmb .form-elements .form-group.required-wrap .input-wrap input,
#fb-editor .form-wrap.form-builder .frmb .form-elements .form-group.required-wrap .input-wrap label,
#fb-editor .form-wrap.form-builder .frmb .form-elements .form-group.other-wrap .input-wrap input,
#fb-editor .form-wrap.form-builder .frmb .form-elements .form-group.other-wrap .input-wrap label{
  margin-top: 0;
  margin-bottom: 0;
}

#fb-editor .form-wrap.form-builder .frmb .form-elements .form-group.subtype-wrap{
  display: none;
}

#fb-editor .form-wrap.form-builder .frmb .frm-holder .form-elements label{
  float: none;
  text-align: left;
  width: 100%;
  padding: 0;
  margin-bottom: 8px;
}

#fb-editor .form-wrap.form-builder .frmb .frm-holder .form-elements .input-wrap{
  float: none;
  margin-left: 0;
  width: 100%;
}

#fb-editor .form-wrap.form-builder .frmb .sortable-options-wrap{
  border: 0;
  width: 100%;
  margin-left: 0;
}

#fb-editor .form-wrap.form-builder .frmb .sortable-options{
  margin-left: 0;
  background: transparent;
}

#fb-editor .form-wrap.form-builder .frmb .sortable-options>li{
  border: 0;
  border-radius: 6px;
  background: #F8F9FB;
  padding: 0;
  margin: 0;
}

#fb-editor .form-wrap.form-builder .frmb .sortable-options>li:not(:last-child){
  margin-bottom: 8px;
}

#fb-editor .form-wrap.form-builder .frmb .sortable-options>li input[type=text]{
  width: calc(100% - 47px);
  border-radius: 6px;
}

#fb-editor .form-wrap.form-builder .frmb .sortable-options .option-att{
  border-radius: 6px;
}
#fb-editor .form-wrap.form-builder .frmb .sortable-options>li .option-value{
  display: none;
}

#fb-editor .form-wrap.form-builder .frmb .sortable-options>li .remove{
  width: 24px;
  height: 24px;
  background: url(../assets/ic-close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0;
  padding: 0;
  float: none;
  right: 0;
  top: 0;
}

#fb-editor .form-wrap.form-builder .frmb .sortable-options>li .remove:hover{
  background-color: #F8F9FB !important;
}

#fb-editor .form-wrap.form-builder .frmb .sortable-options>li .remove:before{
  display: none;
}

#fb-editor .form-wrap.form-builder .frmb .option-actions{
  margin-left: 0;
}

/*#fb-editor .form-actions.btn-group{
  display: none;
}
*/

.fb-editor-action{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 24px;
}




#fb-preview {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
  width: 100%;
  /*  max-width: 81.7%;*/
  padding-left: 10%;
  margin: 0 auto;
}

#fb-preview form {
  /*  flex: 1; */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  border: 1px solid #cbd8e4;
  align-items: stretch; /* Make the columns stretch to the same height */
}

#fb-preview .fb-submission-action{
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

#fb-preview .fb-submission-action .btn-primary{
  width: auto;
}


#fb-preview form#preview {
  background: var(--extra-background, #f1f5f9); 
  min-height: 50vh;
  padding: 142px 87px;
}

#fb-preview .right-side{
  background: #FFF;
  border: 0;
  padding-top: 0;
  padding: 0;
}


#fb-preview #preview .rendered-form{
  max-width: 424px;
  margin: 0 auto;
  background: #FFF;
  border-radius: 6px;
  border: 1px solid #8B95A5;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px 0px rgba(0, 0, 0, 0.14);
  padding: 24px 32px;
}

#fb-preview #preview .form-rendered .form-group label{
  color: #232933;
  /* Label/Semibold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}


#fb-preview .input-group{
  background: #FFF;
  border: 1px solid #D0D6DD;
  border-radius: 6px;
  padding: 2px;
}

#fb-preview .input-group .input-group-addon{
  background: #EDF0F2;
  border-radius: 4px 0px 0px 4px;
  border: 0;
  color: #232933;
  font-weight: 600;
}

#fb-preview .input-group .form-control{
  background: #FFF;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  outline: none;

}

/* Frontend Class */
.form-rendered {
  padding: 8.857rem 1.714rem;
}

.form-rendered .content {
  max-width: 448px;
  margin: 0 auto;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #8b95a5;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 4px 0px rgba(0, 0, 0, 0.14);
}

.form-rendered .rendered-form h1 {
  margin: 0;
  margin-bottom: 16px;
  font-style: 32px;
  line-height: 1.5em;
  font-weight: 600;
  color: #232933;
}

.form-rendered .powered-by {
  max-width: 448px;
  margin: 32px auto 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form-rendered .powered-by span {
  display: block;
  color: #8b95a5;
  /* Label small/Regular */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  text-align: right;
  margin-bottom: 8px;
}
.form-rendered .powered-by img,
.form-rendered .powered-by svg {
  height: 32px;
  width: auto;
}

.form-rendered .rendered-form .form-control {
}

.btn {
  padding: 8px 16px;
  font-size: 14px;
  line-height: 20px;
}
.btn:focus,
.btn:hover,
.btn:visited {
  outline: none !important;
  box-shadow: none !important;
}

.btn.btn-primary {
  font-family: "Inter", sans-serif;
  outline: 0;
  background: #f7601a;
  border: 0;
  padding: 8px 12px;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 6px;
  display: inline-block;
}

.btn.btn-primary:hover {
  background: #e33600;
  border-color: #e33600;
}

.btn-success.btn {
  background: #f7601a;
  border-color: #f7601a;
}
.btn-success.btn:hover {
  background: #e33600;
  border-color: #e33600;
}

.dashboard-parent {
  background: #fff;
}

.dashboard-parent .content {
  background: #fff;
}

.dashboard {
  width: 100%;
  max-width: 1153px;
  margin: 0 auto;
}
.dashboard .grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.dashboard .card {
  display: block;
  padding: 16px;
  background: #f8f9fb;
  flex: 0 1 calc(33.33% - 24px);
  width: 33.33%;
  background-color: #f0f0f0;
  aspect-ratio: 3 / 1.6654;
  border-radius: 6px;
  color: #232933;
}

.dashboard .card.new {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard .card.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #f3f4f7;
}
.dashboard .card .top .card-title {
  color: #232933;
  /* Label/Semibold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  display: block;
}
.dashboard .card .top .card-link {
  color: #626b79;
  /* Label small/Regular */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}
.dashboard .card .bottom {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 12px;
}

.dashboard .card .bottom a {
  color: #626b79;
  /* Label/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.dashboard .card .bottom a:before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.dashboard .card .bottom>a:not(:first-child) {
  /* padding-left: 24px; */
  
}


.dashboard .card .bottom a:not(.card-edit):not(.card-delete){
/*  display: none;*/
}



.dashboard .card .bottom a.card-edit:before {
  background: url(../assets/ic-edit.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.dashboard .card .bottom a.card-delete:before {
  background: url(../assets/ic-delete.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.dashboard .card .bottom a.card-share:before {
  background: url(../assets/ic-share.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.dashboard .card .bottom a.card-file:before{
  background: url(../assets/ic-textarea.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.checkbox-group .formbuilder-checkbox{
  position: relative;
  z-index: 1;
  display: block;
  min-height: 1.5rem;
  padding: 4px 0;
  padding-left: 28px;

}

.checkbox-group .formbuilder-checkbox input[type="checkbox"]{
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.25rem;
  opacity: 0;
}

.checkbox-group .formbuilder-checkbox label{
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  color: #232933;
}
.checkbox-group .formbuilder-checkbox label::before{
    position: absolute;
    top: 0.25rem;
    left: -28px;
    display: block;
    width: 16px;
    height: 16px;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: 1px solid #D0D6DD;
    border-radius: 4px;
    margin-right: 10px;
}
.checkbox-group .formbuilder-checkbox label::after{
  position: absolute;
  top: 5px;
  left: -25px;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: 50%/50% 50% no-repeat;
}
.checkbox-group .formbuilder-checkbox input[type="checkbox"]:checked ~ label::after{
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.checkbox-group .formbuilder-checkbox input[type="checkbox"]:checked ~ label::before{
  color: #fff;
  background-color: #4B61DD;
  background: #4B61DD;
  border-color: #4B61DD !important;
}

.checkbox-group .formbuilder-checkbox input[type="checkbox"]:not(:disabled):active ~ label::before{
  color: #fff;
  background-color: #4B61DD;
  background: #4B61DD;
  border-color: #4B61DD !important;
}

.radio-group .formbuilder-radio{
  position: relative;
  z-index: 1;
  display: block;
  min-height: 1.5rem;
  padding: 4px 0;
  padding-left: 28px;

}

.radio-group .formbuilder-radio input[type="radio"]{
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.25rem;
  opacity: 0;
}

.radio-group .formbuilder-radio label{
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  color: #232933;
}
.radio-group .formbuilder-radio label::before{
    position: absolute;
    top: 0.25rem;
    left: -28px;
    display: block;
    width: 16px;
    height: 16px;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: 1px solid #D0D6DD;
    border-radius: 4px;
    margin-right: 10px;
    border-radius: 50px;
}
.radio-group .formbuilder-radio label::after{
  position: absolute;
  top: 5.5px;
  left: -24.88px;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: 50%/50% 50% no-repeat;
}
.radio-group .formbuilder-radio input[type="radio"]:checked ~ label::after{
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.radio-group .formbuilder-radio input[type="radio"]:checked ~ label::before{
  color: #fff;
  background-color: #4B61DD;
  background: #4B61DD;
  border-color: #4B61DD !important;
}

.radio-group .formbuilder-radio input[type="radio"]:not(:disabled):active ~ label::before{
  color: #fff;
  background-color: #4B61DD;
  background: #4B61DD;
  border-color: #4B61DD !important;
}


@media (max-width: 1181px) {
  .container{
    padding: 0 24px;
  }
  .dashboard .card{
    flex: 0 1 calc(50% - 24px);
    width: 50%;
  }
  .dashboard .card .bottom a + a{
    padding-left: 16px;
  }
}

@media (max-width: 767px){
  .dashboard .grid{
    gap: 0;
  }
  .dashboard .card{
    flex: 0 1 100%;
    width: 100%;
    margin-bottom: 24px;
  }
  #fb-editor .form-wrap{
    display: flex;
    flex-direction: column;
  }
  #fb-preview > form#preview, 
  #fb-editor .form-wrap.form-builder .stage-wrap{
    width: 100%;
    flex: 0 0 100%;
    margin-right: 0;
    order: 2;
  }

  #fb-editor .form-wrap .frmb{
    padding: 40px 24px;
    min-height: 70vh;
  }

  #fb-editor .form-wrap .cb-wrap{
    order: 1;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }
  #fb-editor .cb-wrap .frmb-control li span{
    visibility: visible;
  }
  #fb-editor .form-wrap.form-builder .frmb-control li{
    flex: 0 0 calc(50% - 8px);
    max-width: calc(50% - 8px);
    margin-bottom: 0 !important;
  }
  #fb-editor .form-wrap .cb-wrap .frmb-control{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.form-rendered input[type=checkbox], 
.form-rendered  input[type=radio]{
  margin: 0;
  line-height: 0;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.form-rendered label input[type=checkbox]{
  margin-left: -20px;
}

.form-rendered label input[type=checkbox]{
  margin-bottom: 0px;
}


.checkbox label input, .radio label input{
  padding-right: 8px;
}

.checkbox label{
  padding-left: 24px;
}

.checkbox label input[type="checkbox"]{
  margin-top: 2px;
}

.checkbox label input[type="radio"]{
  margin-left: -24px;
  margin-top: -3px;
  margin-right: 4px;
}



/*Share*/
.share-content{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.share-menu{
  flex: 0 0 22%;
  max-width: calc(100% - (72% + 24px));
}

.share-menu-item:not(:last-child){
  margin-bottom: 8px;
}

.share-menu-item a{
  display: block;
  padding: 12px;
  background: #FFF;
  border-radius: 6px;
  color: #232933;
}

.share-menu-item a:hover{
  background: #F1F5F9;
  text-decoration: none;
}

.share-menu-item a img{
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  line-height: 0;
  margin-right: 12px;
}

.share-option{
  flex: 0 0 72%;
  max-width: calc(100% - (22% + 24px));
  padding: 24px;
  background: #F1F5F9;
  border-radius: 6px;
  border: 1px solid #CBD8E4;
}

.share-option section:not(:last-child){
  margin-bottom: 48px;
}

.share-option section h2{
  color: #232933;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  margin: 0 0 16px 0;
}

.share-option .section-description{
  color: #626B79;
}

.share-option .form-control{

}
.share-option .form-group.copylink{
  display: flex;
  padding: 2px;
  justify-content: space-between;
  align-items: center;
  background: #FFF;
  border-radius: 6px;
  border: 1px solid #D0D6DD;
}

.share-option .form-group.copylink.w-50{
  max-width: 50%;
}
.share-option .form-group.copylink .form-control{
  border: 0;
  outline: none;
  box-shadow: none;
  height: 31px;
}

.share-option .form-group.copylink button{
  border: 0;
  outline: none;
  border-radius: 0 4px 4px 0;
  background: #EDF0F2;
  color: #232933;
  min-height: 31px;
  min-width: 31px;
}

.share-option .share-wamessage{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.share-option .share-wamessage .card{
  padding: 32px;
  border-radius: 6px;
  background: #E7F2DC;
  color: #232933;
  font-size: 12px;
  line-height: 16px;

    flex: 0 1 calc(50% - 24px);
    width: 50%;
    aspect-ratio: 2 / .67;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.share-option .share-wamessage .card .waShare{
  text-align: right;
}
.share-option .share-wamessage .card .waShare a{
  display: inline-block;
  vertical-align: middle;
}
.share-option .share-wamessage .card .waShare a img{
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.share-option .share-wamessage .boxqr img{
  width: 304px;
  height: 304px;
}

/* Style Table Entries */
.dashboard .grid > form{
    width: calc(100% + 110px);
    /*background-color: #f3f4f7; */
    border-radius: 6px;
    padding: 24px;
    margin-left: -55px;
    margin-right: -55px;
}

.dashboard .dataTables_wrapper{
	background: #FFF;
    padding: 24px;
    border-radius: 6px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.12), 0px 3px 4px 0px rgba(0, 0, 0, 0.14);
}

.dashboard.tableEntries{
	max-width: 100%;
    overflow: auto;
}

.dashboard.tableEntries .grid > form{
	width: max-content;
	padding: 0;
    margin-left: 0;
    margin-right: 0;
}
.dashboard.tableEntries .tabler-wrapper{
	position: relative;
}

.content.entries{
	background: #f8f9fb;
}
.entries .dropdown{
	float: left;
}
.entries .dropdown,
.entries .dataTables_filter{
	margin-bottom: 24px;
}

.entries .dropdown .btn{
    position: relative;
    padding-right: 40px;
}

.entries .dropdown .btn:after{
	content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background: url(../assets/ic-carret-left.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
    position: absolute;
    right: 8px;
    transform: rotate(-90deg);
}
.entries .dropdown .dropdown-menu .dropdown-nav-item{
	padding: 4px 8px;
}

.entries .dropdown .dropdown-menu .dropdown-nav-item:hover{
	cursor: pointer;
    background: #f3f4f7;
}

.entries .dataTable{
	margin-top: 24px;
}

.entries .dataTable th:not(:first-child){
    min-width: 150px;
	width: max-content;
}

.entries .dt-buttons{
	opacity: 0;
    max-width: 0;
    max-height: 0;
}
.entries .dataTables_filter input{
	border: 1px solid #D0D6DD;
}

.entries .dataTables_filter input:focus-visible,
.entries .dataTables_filter input:hover{
	outline: none;
	border: 1px solid #D0D6DD;
}

.dashboard .dataTables_wrapper .paginate_button{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;
    border: 1px solid #D0D6DD;
    background: #FFF;
}

.dashboard .dataTables_wrapper tfoot{
	display: none;
}
.dashboard .grid .table-responsive {
	position: relative;
}
.dashboard .btn-link-delete{
    color: #626b79;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-left: 24px;
    position: absolute;
	left: 120px;
    top: 32px;
    z-index: 3;
}

.dashboard .btn-link-delete:hover{
	cursor: pointer;
}

.dashboard .btn-link-delete:before{
	content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    background: url(../assets/ic-delete.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.back-editor.btn-link.back-dashboard{
	margin-bottom: 0;
    vertical-align: middle;
    margin-top: -3px;
}

.dashboard .grid .dt-button,
.modal button[type="submit"]{
	font-family: "Inter", sans-serif;
    outline: 0;
    background: #f7601a;
    border: 0;
    padding: 8px 12px;
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 6px;
    display: inline-block;
}

.dashboard .grid .dt-button:hover,
.modal button[type="submit"]:hover{
	background-color: #e33600;
    border-color: #e33600;
}

.dashboard .grid .buttons-pdf {
	width: max-content;
}

.modal button[type="submit"]{
}

.modal .table>tbody>tr>td{
	vertical-align: middle;
}

.modal .table input[type="text"]{
	height: 34px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
 
.dataTables_wrapper{
	
}